body {
  padding-top: 20px;
}
.homepage {
  padding: 20px 20px;
  text-align: center;
  background-color: #fff;
  
}
.lead {

	text-align: center;
}
.ashesi {
	padding: 20px 20px;
  text-align: center;
  background-color: #fff;
  
}